{include file="common/header" /}
<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="username" name="username" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" value="{$oldUser.username}">
                <input type="hidden" id="uid" name="uid" value="{$Request.param.uid}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="email" class="layui-form-label">
                邮箱
            </label>
            <div class="layui-input-inline">
                <input type="text" id="email" name="email" lay-verify="" value="{$oldUser.email}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                手机
            </label>
            <div class="layui-input-inline">
                <input type="text" id="phone" name="phone" lay-verify="" value="{$oldUser.phone}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否管理员</label>
            <div class="layui-input-block">
                <input type="radio" name="is_admin" value="是" title="是" {if condition="$oldUser.is_admin eq '是'"}checked{/if}>
                <input type="radio" name="is_admin" value="否" title="否" {if condition="$oldUser.is_admin eq '否'"}checked{/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否锁定</label>
            <div class="layui-input-block">
                <input type="radio" name="is_lock" value="正常" title="正常" {if condition="$oldUser.is_lock eq '正常'"}checked{/if}>
                <input type="radio" name="is_lock" value="锁定" title="锁定" {if condition="$oldUser.is_lock eq '锁定'"}checked{/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" {if condition="$oldUser.sex eq '男'"}checked{/if}>
                <input type="radio" name="sex" value="女" title="女" {if condition="$oldUser.sex eq '女'"}checked{/if}>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="add" class="layui-form-label">
            </label>
            <button  class="layui-btn" id="add" lay-filter="add" lay-submit="">
                修改
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;
        //监听提交
        form.on('submit(add)', function(data){
            console.log(data);
            var uid,username,email,phone,is_admin,is_lock,sex;
            uid         = $('input[name="uid"]').val();
            username    = $('input[name="username"]').val();
            email       = $('input[name="email"]').val();
            phone       = $('input[name="phone"]').val();
            is_admin    = $('input[name="is_admin"]:checked').val();
            is_lock     = $('input[name="is_lock"]:checked').val();
            sex         = $('input[name="sex"]:checked').val();
            $.ajax({
                url:"{:url('Admin/user/edit')}",
                data:{'uid':uid,'username':username,'email':email,'phone':phone,'is_admin':is_admin,'is_lock':is_lock,'sex':sex,},
                type: "post" ,
                dataType:'json',
                success:function(status){
                    console.log(status);
                    if(status.status){
                        layer.msg(status.message, {icon:1,time:1000},function () {
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                    }else{
                        layer.msg(status.message, {icon:1,time:1000});
                    }
                }
            })
            return false;
        });
    });
</script>
</body>

</html>