{include file="common/header" /}
<body class="layui-anim layui-anim-up">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:volid(0);">首页</a>
        <a>
          <cite>会员列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="get" action="{:url('Admin/user/userList')}">
            <input type="text" name="find" placeholder="请输入会员名称" autocomplete="off" class="layui-input">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="user_add('添加用户','{:url(\'Admin/user/add\')}','800','600')" href="javascript:;"><i class="layui-icon"></i>添加
        </button>
        <span class="x-right" style="line-height:40px">共有数据：<span id="count">{$count}</span> 条</span>
    </xblock>
    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th width="20">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary">
                    <input type="checkbox" lay-skin="primary" lay-filter="checkAll">
                </div>
            </th>
            <th lay-data="{field:'score', width:80, sort: true}">ID</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>超管</th>
            <th>性别</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>状态</th>
            <th width="90">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="$users" id="vo"}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'>
                    <input type="checkbox" value="{$vo.uid}" name="check" lay-skin="primary">
                </div>
            </td>
            <td>{$vo.uid}</td>
            <td>{$vo.username}</td>
            <td>{$vo.nickname}</td>
            <td>
                {if condition="$vo.supper eq '是' "}
                <span class="layui-btn layui-btn-normal layui-btn-sm">{$vo.supper}</span>
                {else /}
                <span class="layui-btn layui-btn-danger layui-btn-sm">{$vo.supper}</span>
                {/if}
            </td>
            <td>{$vo.sex}</td>
            <td>{$vo.phone}</td>
            <td>{$vo.email}</td>
            <td id="status{$vo.uid}">
                {if condition="$vo.is_lock eq '正常' "}
                <!--<span class="layui-btn layui-btn-normal layui-btn-sm">{$vo.is_lock}</span>-->
                <input type="checkbox" name="yyy" lay-skin="switch" lay-text="正常|锁定" checked disabled>
                {else /}
                <!--<span class="layui-btn layui-btn-danger layui-btn-sm">{$vo.is_lock}</span>-->
                <input type="checkbox" name="yyy" lay-skin="switch" lay-text="正常|锁定" disabled>
                {/if}
            </td>
            <td class="td-manage">
                <a onclick="switch_status(this,{$vo.uid})" href="javascript:;" title="切换状态">
                    <i class="layui-icon" style="font-size: 25px;">&#xe673;</i>
                </a>
                <a title="编辑用户" onclick="user_edit('编辑用户','{:url(\'Admin/user/edit\',[\'uid\'=>$vo[\'uid\']])}','800','600')" href="javascript:;">
                    <i class="layui-icon" style="font-size: 25px;">&#xe642;</i>
                </a>
                <!--<a onclick="x_admin_show('修改密码','member-password.html',600,400)" title="修改密码" href="javascript:;">-->
                    <!--<i class="layui-icon" style="font-size: 25px;">&#xe631;</i>-->
                <!--</a>-->
                <a title="删除用户" onclick="user_del(this,{$vo.uid})" href="javascript:;">
                    <i class="layui-icon" style="font-size: 25px;">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="layui-box layui-laypage layui-laypage-default">{$users->render()}</div>
</div>
<script>
    layui.use(['form'], function () {
        form = layui.form;
        //全选
        form.on('checkbox(checkAll)', function(data){
            $("input[type='checkbox']").prop("checked", data.elem.checked);
            form.render('checkbox');
        });
    })

    // 添加
    function user_add (title,url,w,h) {
        console.log(url);
        x_admin_show(title,url,w,h);
    }

    // 添加
    function user_edit (title,url,w,h) {
        console.log(url);
        x_admin_show(title,url,w,h);
    }

    /*用户-停用*/
    function switch_status(obj, id) {
        var _status;
        var status = $('#status'+id+' em').html();
        (status == '正常') ? _status="锁定" : _status="解除锁定";
        layer.confirm('确认要'+_status+'？', function (index) {
            $.ajax({
                url:"{:url('Admin/User/editStatus')}",
                data:{'id':id,'status':status},
                type: "post" ,
                dataType:'json',
                success:function(status){
                    if(status.status){
                        layer.msg('已'+_status+' !',{icon:1,time:1000});
                        $('#status'+id+' em').html(status.lock);
                        (status.lock == '正常') ? $('#status'+id+' div.layui-unselect').addClass(status.cls) : $('#status'+id+' div.layui-unselect').removeClass(status.cls);;
                    }else{
                        layer.msg(status.message,{icon:5,time:1000});
                    }
                }
            })
        });
    }

    // 单个删除
    function user_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.ajax({
                url:"{:url('Admin/User/del')}",
                data:{'id':id},
                type: "post" ,
                dataType:'json',
                success:function(status){
                    if(status.status){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                        $('#count').html(parseInt($('#count').text())-1);
                    }else{
                        $(obj).parents("tr").remove();
                    }
                }
            })
        });
    }

    // 批量删除
    function delAll(obj){
        var ids = [];
        $("input[name='check']:checked").each(function(index) {
            ids[index] = $(this).val(); //逐个获取id
        });
        if(ids.length<=0){
            layer.msg('未选择数据!', {icon: 5});
            return false;
        }
        layer.confirm('确认删除选中的用户吗？',function(index){
            //发异步删除数据
            $.ajax({
                url:'{:url("Admin/User/delAll")}',
                data:{'ids':ids},
                type: "post" ,
                dataType:'json',
                success:function(status){
                    if(status.status){
                        layer.msg('已删除!',{icon:1,time:1000});
                        $("input[name='check']:checked").each(function(index) {
                            // $("#all").prop('checked', false);
                            $(this).parents('tr').remove();
                            $('#count').html(parseInt($('#count').text())-1);
                        });
                    }else{
                        $(obj).parents("tr").remove();
                        layer.msg('删除失败,请重试!',{icon:5,time:1000});
                    }
                }
            })
        });
    }
</script>
</body>
</html>